<h2>Products</h2>
<div *ngFor="let product of products">
  <!--Interpolation {{}} lets you render the property value as text. Property binding lets you render the property value in template expression -->
  <a [title]="product.name + ' details'"><h3>{{product.name}}</h3></a>

  <p *ngIf="product.description">
Description : {{product.description}}
  </p>

  <button (click)="share()">Share</button>

  <app-product-alerts 
  [product]="product"
  (notify)="onNotify()">
  </app-product-alerts>
</div>
<!-- Components define areas of responsibility in your UI that let you reuse these sets of UI functionality. -->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->